[Unit]
Description=glances service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop glances-docker
ExecStartPre=-/usr/bin/docker rm glances-docker
ExecStart=/bin/bash -c "/usr/bin/nvidia-docker run -h $(hostname)_glances -d -p 9091:9091 --name glances-docker mengzaiqiao/glances:v3.1.5-24d51a99-gpu"
ExecStop=/usr/bin/nvidia-docker stop glances-docker; /usr/bin/nvidia-docker rm glances-docker; 

[Install]
WantedBy=multi-user.target
