[Unit]
Description=glances service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=glances --export prometheus -q

[Install]
WantedBy=multi-user.target
